---
layout: markdown_page
title: Retention Group
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

The Retention Group is part of the [Growth](/handbook/engineering/development/growth/) department and is responsible for improving our metrics on retention and reactivation of users.

## Team Members

The following people are permanent members of the Retention Team:

<%= direct_team(manager_role: 'Engineering Manager, Expansion and Retention') %>

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] Retention/, direct_manager_role: 'Engineering Manager, Expansion and Retention') %>

## Common Links

* [Growth issues board]
* [#g_growth] in Slack


[Growth issues group boards]: https://gitlab.com/gitlab-org/growth

[#g_growth]: https://gitlab.slack.com/archives/g_growth
